<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gadjet_for_developers</title>
	<link rel="stylesheet" href="{% static 'css/style.css'%}" type="text/css">
</head>
<body>
<background>
    <back><a href="{% url 'logout'%}"><logout><text>войти</text></logout></a></back>
    <fot><logo>Market Название</logo></fot>
    <sep></sep>
    <cap>
    <message><a href="{% url 'sup'%}"><col_1>Поддержка</col_1></a></message><message><a href="{% url 'dev'%}"><col_1>Для разработчиков</col_1></a></message><message><a href="{% url 'shop'%}"><col_1>Магазин</col_1></a></message>
    </cap>
    <content>
        <par><text-content>Разработали игру и хотите продавать копии, пишите на <div><a href="https://web.telegram.org/z/#5221488288">Наш телеграм бот</a></div></text-content></text-content></par>

    </content>
    <sep></sep>
    <foot><ddc>Покупай игры с Market Название</ddc></foot>
</background>
</body>
</body>
</html>