<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gadjet_for_developers</title>
	<link rel="stylesheet" href="{% static 'css/style.css'%}" type="text/css">
</head>
<body>
<background>
    <back><a href="{% url 'logout'%}"><logout><text>войти</text></logout></a></back>
    <fot><logo>Market Gadjet</logo></fot>
    <sep></sep>
    <cap>
    <message><a href="{% url 'sup'%}"><col_1>Поддержка</col_1></a></message><message><a href="{% url 'dev'%}"><col_1>Для разработчиков</col_1></a></message><message><a href="{% url 'shop'%}"><col_1>Магазин</col_1></a></message>
    </cap>
    <content>
        <img src="{% static 'css/images/Dorfromantik.jpg'%}">
        <par><text-content>Tin Can – это космическое приключение с видом от первого лица, в котором вы отправитесь в открытый космос, сбежите с горящего космического корабля, и будете выживать в капсуле, без каких-либо знаний и представлений о работе ее систем… События игры начинают происходить в тот самый момент, когда в космическом корабле, на борту которого находится главный герой, начинает полыхать. нужно спасаться, и единственный способ – добраться до космической спасательной капсулы.</text-content></par>
    <shop_but_content_block><shop_but_content><button type="submit" value="tin_can">купить</button></shop_but_content></shop_but_content_block>
    </content>
    <sep></sep>
    <foot><ddc>Покупай игры с Market Gadjet</ddc></foot>
</background>
</body>
</body>
</html>