<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
			<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name="theme-color" content="#171a21">
		<title>Добро пожаловать в Steam</title>
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">



	<link href="https://store.akamai.steamstatic.com/public/shared/css/motiva_sans.css?v=Rc2hpzg2Ex3T&amp;l=russian" rel="stylesheet" type="text/css">
<link href="https://store.akamai.steamstatic.com/public/shared/css/shared_global.css?v=Eng2foKF9rlv&amp;l=russian" rel="stylesheet" type="text/css">
<link href="https://store.akamai.steamstatic.com/public/shared/css/buttons.css?v=6PFqex5UPprb&amp;l=russian" rel="stylesheet" type="text/css">
<link href="https://store.akamai.steamstatic.com/public/css/v6/store.css?v=CdwrSVPosEFB&amp;l=russian" rel="stylesheet" type="text/css">
<link href="https://store.akamai.steamstatic.com/public/css/v6/home.css?v=rMaEbXKRKJC9&amp;l=russian" rel="stylesheet" type="text/css">
<link href="https://store.akamai.steamstatic.com/public/css/v6/creator_hub.css?v=tbdYyp8XpbPy&amp;l=russian" rel="stylesheet" type="text/css">
<link href="https://store.akamai.steamstatic.com/public/shared/css/shared_responsive.css?v=6wdxAbEd-DD8&amp;l=russian" rel="stylesheet" type="text/css">
			<script async="" src="//www.google-analytics.com/analytics.js"></script><script>
				(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
						(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
					m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
				})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

				ga('create', 'UA-33786258-1', 'auto', {
					'sampleRate': 0.4				});
				ga('set', 'dimension1', false );
				ga('set', 'dimension2', 'External' );
				ga('set', 'dimension3', 'default' );
				ga('set', 'dimension4', "default\/home" );
				ga('send', 'pageview' );

			</script>
			<script type="text/javascript" src="https://store.akamai.steamstatic.com/public/shared/javascript/jquery-1.8.3.min.js?v=.TZ2NKhB-nliU"></script>
<script type="text/javascript">$J = jQuery.noConflict();</script><script type="text/javascript">VALVE_PUBLIC_PATH = "https:\/\/store.akamai.steamstatic.com\/public\/";</script><script type="text/javascript" src="https://store.akamai.steamstatic.com/public/shared/javascript/tooltip.js?v=.zYHOpI1L3Rt0"></script>

<script type="text/javascript" src="https://store.akamai.steamstatic.com/public/shared/javascript/shared_global.js?v=OmI7Fj-zl9BM&amp;l=russian"></script>

<script type="text/javascript" src="https://store.akamai.steamstatic.com/public/javascript/main.js?v=5I3LpRMoVUC9&amp;l=russian"></script>

<script type="text/javascript" src="https://store.akamai.steamstatic.com/public/javascript/dynamicstore.js?v=oGSKxoNx-71x&amp;l=russian"></script>

<script type="text/javascript">Object.seal && [ Object, Array, String, Number ].map( function( builtin ) { Object.seal( builtin.prototype ); } );</script>
		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(event) {
				$J.data( document, 'x_readytime', new Date().getTime() );
				$J.data( document, 'x_oldref', GetNavCookie() );
				SetupTooltips( { tooltipCSSClass: 'store_tooltip'} );
		});
		</script><script type="text/javascript" src="https://store.akamai.steamstatic.com/public/javascript/broadcast_carousel.js?v=ghgnvgvh0Rcv&amp;l=russian"></script>
<script type="text/javascript" src="https://store.akamai.steamstatic.com/public/javascript/home.js?v=vEzZBhg1xF9m&amp;l=russian"></script>
<script type="text/javascript" src="https://store.akamai.steamstatic.com/public/javascript/cluster.js?v=lHGvoLRYGEY4&amp;l=russian"></script>
<script type="text/javascript" src="https://store.akamai.steamstatic.com/public/shared/javascript/shared_responsive_adapter.js?v=3WbsNkD3fEZg&amp;l=russian"></script>

						<meta name="twitter:card" content="summary_large_image">
					<meta name="Description" content="Steam is the ultimate destination for playing, discussing, and creating games.">

	<meta name="twitter:site" content="@steam">

						<meta property="og:title" content="Steam Store">
					<meta property="twitter:title" content="Добро пожаловать в Steam">
					<meta property="og:type" content="website">
					<meta property="fb:app_id" content="105386699540688">
					<meta property="og:site" content="Steam">
					<meta property="og:url" content="https://store.steampowered.com/">
					<meta property="og:description" content="Steam is the ultimate destination for playing, discussing, and creating games.">
					<meta property="twitter:description" content="Steam is the ultimate destination for playing, discussing, and creating games.">

			<link rel="canonical" href="https://store.steampowered.com/">

			<link rel="image_src" href="https://cdn.akamai.steamstatic.com/store/home/store_home_share.jpg">
		<meta property="og:image" content="https://cdn.akamai.steamstatic.com/store/home/store_home_share.jpg">
		<meta name="twitter:image" content="https://cdn.akamai.steamstatic.com/store/home/store_home_share.jpg">


			<style type="text/css">
			@media all and (min-width: 1208px) {
div#global_header .content {
position: relative;
right: -90px;
}
}

body.v6 .home_rightcol h2 {
  margin-bottom: 2px;
  margin-top: 1px;
}

.spotlight_weeklong_subtitle {
  margin-top: 14px;
}		</style>



	</head>
</body>
</html>